body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: #ccc;
    margin: 0;
    padding: 20px;
    height: auto;
}

.container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background-color: #333;
    border-radius: 8px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin: 20px 0;
}

button[type="submit"] {
    background-color: #76a9fa;
    color: #121212;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}